-
  const fieldDictionary = (fields, removePrefix='') => {
    return fields.reduce((memo, val) => {
      const key = removePrefix ? val.name.replace(`${removePrefix}_`, '') : val.name;
      memo[key] = structuredClone(val);
      return memo
    }, {});
  }

mixin display-value(blob)
  - const attr = `attr_${blob.name}`;
  if blob.label
    strong= blob.label
  
  span(name=attr, title=blob.title)

mixin display-input(blob)
  - const attr = `attr_${blob.name}`;
  - const default_value = blob.value ? blob.value : ''
  if blob.label
    label= blob.label
    case blob.type
      when 'textarea'
        textarea(name=attr)
      when 'number'
      when 'text'
      default
        input(type=blob.type, name=attr, value=default_value)