mixin display-value(blob)
  - const attr = `attr_${blob.name}`;
  if blob.label
    strong= blob.label
  
  span(name=attr, title=blob.title)

mixin display-input(blob)
  - const attr = `attr_${blob.name}`;
  if blob.label
    label= blob.label
      input(type=blob.type, name=attr)
  else
      input(type=blob.type, name=attr)