include layout/spine
include mixins/utils
include pages/character

.cerbere-main
  header.sheet-header Cerbère

  section.dice-section
    h2 Jets de dés
    .dice-buttons
      button(type="roll"
        class='dice-btn'
        value='&{template:cerbere} {{rollname=@{character_name} — Jet 1d10}} {{roll1=[[1d10]]}} {{roll1raw=$[[0]]}}'
      )
        span(class="dice-icon") J
      button(type="roll"
        class='dice-btn'
        value='&{template:cerbere} {{rollname=@{character_name} — Jet 2d10}} {{roll1=[[1d10]]}} {{roll1raw=$[[0]]}} {{roll2=[[1d10]]}} {{roll2raw=$[[1]]}}'
      )
        span(class="dice-icon") J
        span(class="dice-icon") J
      button(type="roll"
        class='dice-btn'
        value='&{template:cerbere} {{rollname=@{character_name} — Jet 3d10}} {{roll1=[[1d10]]}} {{roll1raw=$[[0]]}} {{roll2=[[1d10]]}} {{roll2raw=$[[1]]}} {{roll3=[[1d10]]}} {{roll3raw=$[[2]]}}'
      )
        span(class="dice-icon") J
        span(class="dice-icon") J
        span(class="dice-icon") J

  section.description-section
    h2 Description du personnage

    input(type="checkbox", class="edit-toggle", name="attr_editmode", id="editmode-toggle", hidden)
    label.toggle-edit(for="editmode-toggle") Mode édition

    +character-view(spine.character)
    +character-edit(spine.character)

include rolltemplates